In [1]:
from __future__ import print_function

In [129]:
# Toy dataset.
# Format: each row is an example.
# The last column is the label.
# The first two columns are features.
# Feel free to play with it by adding more features & examples.
# Interesting note: I've written this so the 2nd and 5th examples
# have the same features, but different labels - so we can see how the
# tree handles this case.

pd.options.display.max_columns=50

# Read in the weather data csv
df=pd.read_csv('weather.csv', encoding='utf-8')

# Drop records where target RainTomorrow=NaN
df=df[pd.isnull(df['RainTomorrow'])==False]

# For other columns with missing values, fill them in with column mean
df=df.fillna(df.mean())

# Create a flag for RainToday and RainTomorrow, note RainTomorrowFlag will be our target variable
df['RainTodayFlag']=df['RainToday'].apply(lambda x: 1 if x=='Yes' else 0)
df['RainTomorrowFlag']=df['RainTomorrow'].apply(lambda x: 1 if x=='Yes' else 0)

# Show a snaphsot of data
training_data = df.values


# training_data = [
#     ['Green', 3, 'Apple'],
#     ['Yellow', 3, 'Apple'],
#     ['Red', 1, 'Grape'],
#     ['Red', 1, 'Grape'],
#     ['Yellow', 3, 'Lemon'],
# ]

C:\Users\UMAIRL~1\AppData\Local\Temp/ipykernel_372064/2000626106.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.fillna(df.mean())

In [130]:
header = list(df.columns)
print(header)

# print(list(ds))

['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow', 'RainTodayFlag', 'RainTomorrowFlag']

In [98]:
# Column labels.
# These are used only to print the tree.
# header = ["color", "diameter", "label"]

In [131]:
def unique_vals(rows, col):
    """Find the unique values for a column in a dataset."""
    return set([row[col] for row in rows])

In [132]:
#######
# Demo:
unique_vals(training_data, 0)
# unique_vals(training_data, 1)
#######

{'2011-12-22',
 '2012-11-17',
 '2012-02-07',
 '2014-06-10',
 '2015-05-18',
 '2015-10-10',
 '2014-02-19',
 '2011-06-07',
 '2012-05-23',
 '2009-09-28',
 '2014-05-29',
 '2013-08-29',
 '2014-03-23',
 '2015-09-08',
 '2010-01-03',
 '2008-12-04',
 '2010-03-21',
 '2008-09-20',
 '2011-02-16',
 '2010-04-04',
 '2008-06-24',
 '2017-04-03',
 '2014-09-09',
 '2016-01-11',
 '2017-03-01',
 '2012-06-01',
 '2009-01-24',
 '2009-04-16',
 '2011-12-09',
 '2012-09-21',
 '2011-02-13',
 '2015-07-09',
 '2017-06-25',
 '2015-10-08',
 '2011-08-16',
 '2015-12-14',
 '2009-03-03',
 '2013-10-24',
 '2009-01-11',
 '2010-07-11',
 '2015-06-11',
 '2014-07-26',
 '2016-01-05',
 '2016-10-26',
 '2008-08-30',
 '2017-01-04',
 '2017-01-14',
 '2008-11-23',
 '2013-03-24',
 '2011-02-02',
 '2008-01-28',
 '2014-09-22',
 '2010-02-17',
 '2017-05-28',
 '2012-11-04',
 '2010-02-18',
 '2010-07-14',
 '2013-04-28',
 '2010-03-02',
 '2016-11-17',
 '2017-03-15',
 '2012-07-30',
 '2010-04-19',
 '2016-10-17',
 '2016-01-21',
 '2009-01-09',
 '2013-12-05',
 '2012-08-16',
 '2008-03-29',
 '2011-06-22',
 '2012-11-12',
 '2015-03-01',
 '2008-06-07',
 '2012-09-23',
 '2009-12-11',
 '2008-01-10',
 '2013-12-21',
 '2015-04-17',
 '2016-08-20',
 '2010-01-26',
 '2008-09-18',
 '2015-06-10',
 '2007-12-05',
 '2008-01-31',
 '2012-05-29',
 '2015-08-13',
 '2011-08-05',
 '2009-06-23',
 '2010-09-08',
 '2007-11-23',
 '2014-09-23',
 '2016-05-06',
 '2017-04-08',
 '2011-06-08',
 '2009-07-20',
 '2011-05-13',
 '2013-10-13',
 '2015-08-27',
 '2017-06-13',
 '2014-01-05',
 '2013-07-30',
 '2008-04-24',
 '2008-01-08',
 '2017-06-17',
 '2014-05-10',
 '2016-05-24',
 '2010-08-02',
 '2013-03-25',
 '2008-07-15',
 '2015-07-21',
 '2014-03-10',
 '2010-07-22',
 '2015-07-24',
 '2016-03-28',
 '2009-08-14',
 '2010-01-07',
 '2014-05-25',
 '2012-05-11',
 '2015-03-15',
 '2017-04-02',
 '2016-05-23',
 '2008-11-28',
 '2016-03-26',
 '2013-11-11',
 '2015-05-21',
 '2012-01-31',
 '2017-05-31',
 '2008-12-07',
 '2009-12-07',
 '2010-05-16',
 '2014-02-28',
 '2015-09-25',
 '2009-07-08',
 '2009-03-08',
 '2008-08-10',
 '2017-02-27',
 '2014-02-24',
 '2016-11-02',
 '2011-01-09',
 '2008-11-04',
 '2008-05-28',
 '2011-08-20',
 '2016-12-22',
 '2012-04-30',
 '2013-10-02',
 '2013-11-28',
 '2016-05-31',
 '2016-11-14',
 '2010-08-15',
 '2008-06-27',
 '2016-02-11',
 '2008-09-28',
 '2016-03-19',
 '2011-11-12',
 '2015-10-25',
 '2011-01-03',
 '2008-12-14',
 '2010-04-10',
 '2016-11-19',
 '2013-01-05',
 '2011-06-01',
 '2011-08-10',
 '2012-09-01',
 '2016-07-28',
 '2009-07-30',
 '2015-05-15',
 '2010-11-23',
 '2013-09-09',
 '2014-02-23',
 '2012-09-29',
 '2009-03-17',
 '2008-09-03',
 '2011-07-05',
 '2015-08-12',
 '2016-06-06',
 '2013-06-17',
 '2008-08-08',
 '2008-07-10',
 '2012-02-25',
 '2008-07-23',
 '2010-03-26',
 '2011-10-23',
 '2010-07-30',
 '2013-04-25',
 '2014-07-22',
 '2015-02-07',
 '2015-03-22',
 '2015-06-18',
 '2009-01-03',
 '2010-07-21',
 '2010-10-14',
 '2016-03-23',
 '2008-02-23',
 '2017-04-27',
 '2015-04-26',
 '2014-11-30',
 '2010-02-14',
 '2017-05-30',
 '2011-05-15',
 '2013-10-17',
 '2010-07-08',
 '2009-12-17',
 '2010-10-15',
 '2015-12-12',
 '2008-12-02',
 '2014-01-07',
 '2014-06-24',
 '2016-09-25',
 '2014-08-15',
 '2015-07-08',
 '2015-01-28',
 '2008-02-16',
 '2013-09-15',
 '2014-07-03',
 '2015-04-09',
 '2015-05-02',
 '2014-02-22',
 '2010-01-21',
 '2009-09-13',
 '2009-09-23',
 '2008-01-30',
 '2009-01-22',
 '2009-04-23',
 '2017-01-05',
 '2011-03-16',
 '2007-12-29',
 '2014-09-01',
 '2008-05-26',
 '2008-08-23',
 '2009-12-08',
 '2016-02-21',
 '2012-04-03',
 '2014-08-22',
 '2016-07-07',
 '2012-03-18',
 '2012-09-02',
 '2016-11-04',
 '2009-06-20',
 '2017-06-21',
 '2012-01-28',
 '2011-08-19',
 '2014-11-23',
 '2015-04-12',
 '2015-08-05',
 '2008-08-29',
 '2010-06-05',
 '2011-08-06',
 '2013-07-12',
 '2010-12-12',
 '2015-10-06',
 '2012-10-31',
 '2016-12-01',
 '2010-03-11',
 '2016-05-26',
 '2016-12-15',
 '2008-09-30',
 '2017-03-14',
 '2011-02-10',
 '2015-05-12',
 '2013-07-26',
 '2012-10-02',
 '2010-09-30',
 '2013-09-21',
 '2017-06-10',
 '2016-08-06',
 '2015-06-08',
 '2010-12-05',
 '2017-04-07',
 '2011-09-05',
 '2016-06-13',
 '2008-08-06',
 '2009-09-02',
 '2010-07-18',
 '2015-06-30',
 '2014-10-08',
 '2010-08-01',
 '2015-09-05',
 '2007-11-04',
 '2008-05-07',
 '2016-06-07',
 '2010-11-20',
 '2010-01-23',
 '2016-10-08',
 '2013-07-31',
 '2010-01-29',
 '2014-08-17',
 '2015-10-17',
 '2017-01-11',
 '2017-02-12',
 '2012-10-12',
 '2008-10-25',
 '2011-09-03',
 '2016-08-23',
 '2015-09-29',
 '2016-04-20',
 '2015-07-13',
 '2017-01-20',
 '2009-01-12',
 '2013-11-24',
 '2009-08-25',
 '2015-08-18',
 '2009-05-15',
 '2016-04-23',
 '2008-10-04',
 '2011-02-17',
 '2010-07-03',
 '2011-02-26',
 '2009-07-02',
 '2012-03-19',
 '2013-09-29',
 '2008-05-14',
 '2010-08-07',
 '2012-10-16',
 '2008-06-22',
 '2012-07-10',
 '2008-03-28',
 '2014-04-09',
 '2014-09-07',
 '2013-12-04',
 '2013-11-09',
 '2014-07-04',
 '2012-08-11',
 '2008-02-11',
 '2010-06-27',
 '2014-09-16',
 '2013-12-07',
 '2010-06-14',
 '2015-11-13',
 '2010-11-15',
 '2014-11-28',
 '2007-11-05',
 '2009-10-30',
 '2011-08-29',
 '2017-05-13',
 '2008-03-04',
 '2008-10-29',
 '2007-12-04',
 '2014-07-02',
 '2011-01-22',
 '2008-02-02',
 '2009-08-16',
 '2008-12-29',
 '2013-01-29',
 '2010-08-09',
 '2017-05-29',
 '2008-11-05',
 '2015-11-09',
 '2009-08-29',
 '2016-07-23',
 '2011-01-27',
 '2016-08-02',
 '2010-03-12',
 '2016-09-16',
 '2009-10-22',
 '2017-01-21',
 '2009-01-31',
 '2011-08-12',
 '2010-12-20',
 '2015-12-06',
 '2014-10-27',
 '2016-11-22',
 '2014-05-05',
 '2010-11-08',
 '2010-10-10',
 '2010-05-18',
 '2017-03-29',
 '2016-06-24',
 '2009-04-03',
 '2014-05-03',
 '2008-05-20',
 '2013-03-29',
 '2012-07-07',
 '2009-06-09',
 '2014-03-28',
 '2014-10-19',
 '2015-11-21',
 '2009-11-19',
 '2008-12-15',
 '2015-05-08',
 '2014-04-22',
 '2013-11-26',
 '2014-11-06',
 '2015-02-10',
 '2011-01-11',
 '2011-06-29',
 '2012-06-11',
 '2015-03-18',
 '2015-03-17',
 '2015-07-17',
 '2008-01-02',
 '2015-03-02',
 '2011-08-28',
 '2014-09-29',
 '2010-02-11',
 '2008-03-19',
 '2014-08-11',
 '2014-08-10',
 '2014-12-01',
 '2015-03-14',
 '2010-10-20',
 '2016-10-15',
 '2015-04-06',
 '2015-01-03',
 '2015-12-30',
 '2007-12-30',
 '2014-09-19',
 '2014-06-07',
 '2014-04-13',
 '2013-10-08',
 '2010-04-30',
 '2010-08-06',
 '2015-05-09',
 '2017-04-30',
 '2015-10-01',
 '2010-02-19',
 '2010-06-16',
 '2011-09-29',
 '2012-05-30',
 '2009-08-28',
 '2012-08-09',
 '2016-01-18',
 '2008-08-13',
 '2009-07-11',
 '2012-01-01',
 '2011-10-09',
 '2015-09-10',
 '2008-10-30',
 '2014-01-03',
 '2010-02-28',
 '2012-02-22',
 '2013-11-20',
 '2014-05-12',
 '2015-11-23',
 '2016-03-13',
 '2008-01-23',
 '2016-01-25',
 '2011-06-26',
 '2016-04-07',
 '2011-12-14',
 '2017-04-04',
 '2012-03-01',
 '2008-05-06',
 '2017-04-12',
 '2008-01-09',
 '2015-08-30',
 '2016-02-01',
 '2009-02-13',
 '2016-08-08',
 '2015-01-06',
 '2011-08-23',
 '2015-01-14',
 '2015-12-21',
 '2016-04-03',
 '2014-08-20',
 '2012-08-24',
 '2016-11-06',
 '2011-10-08',
 '2008-10-15',
 '2015-06-27',
 '2012-02-13',
 '2014-05-06',
 '2010-06-11',
 '2015-12-15',
 '2014-08-24',
 '2016-01-17',
 '2012-11-13',
 '2013-06-25',
 '2014-08-25',
 '2011-07-07',
 '2008-11-18',
 '2010-04-25',
 '2010-11-22',
 '2014-03-11',
 '2011-10-22',
 '2015-03-16',
 '2009-08-26',
 '2008-03-06',
 '2017-04-22',
 '2012-09-03',
 '2012-09-13',
 '2016-09-06',
 '2014-02-04',
 '2011-05-03',
 '2013-04-27',
 '2014-01-08',
 '2011-10-02',
 '2015-02-05',
 '2013-08-30',
 '2009-02-16',
 '2010-03-18',
 '2017-06-16',
 '2016-05-29',
 '2013-05-09',
 '2012-10-18',
 '2017-05-02',
 '2014-04-26',
 '2010-07-16',
 '2008-06-01',
 '2009-10-24',
 '2015-04-20',
 '2014-12-06',
 '2015-03-03',
 '2017-02-28',
 '2017-04-06',
 '2009-09-19',
 '2010-03-27',
 '2013-05-18',
 '2010-07-28',
 '2014-10-09',
 '2012-08-29',
 '2011-11-01',
 '2012-02-19',
 '2011-05-14',
 '2016-03-10',
 '2010-11-28',
 '2012-08-20',
 '2008-05-30',
 '2015-12-16',
 '2011-10-07',
 '2014-03-31',
 '2013-07-23',
 '2009-01-05',
 '2009-11-22',
 '2012-05-25',
 '2010-04-21',
 '2009-01-13',
 '2009-02-28',
 '2009-12-24',
 '2014-01-28',
 '2014-09-17',
 '2017-02-04',
 '2008-05-22',
 '2008-02-05',
 '2013-10-29',
 '2014-12-22',
 '2015-12-17',
 '2013-09-10',
 '2012-01-11',
 '2014-10-10',
 '2012-07-02',
 '2015-01-30',
 '2015-07-04',
 '2012-05-04',
 '2008-12-19',
 '2012-08-12',
 '2011-07-09',
 '2013-05-22',
 '2009-03-09',
 '2016-05-01',
 '2008-09-17',
 '2016-01-04',
 '2008-03-24',
 '2012-05-26',
 '2016-08-16',
 '2010-06-06',
 '2014-07-25',
 '2014-05-27',
 '2012-01-08',
 '2013-09-19',
 '2015-05-03',
 '2017-01-06',
 '2009-12-13',
 '2014-11-25',
 '2015-06-20',
 '2012-09-05',
 '2016-01-22',
 '2008-03-03',
 '2014-07-10',
 '2013-12-30',
 '2016-07-27',
 '2008-02-15',
 '2012-06-16',
 '2017-04-11',
 '2009-01-15',
 '2015-06-05',
 '2009-09-27',
 '2008-01-13',
 '2015-03-26',
 '2011-01-06',
 '2008-01-14',
 '2014-01-01',
 '2017-03-05',
 '2009-08-03',
 '2011-08-04',
 '2010-02-03',
 '2009-07-17',
 '2010-06-20',
 '2009-08-18',
 '2011-02-25',
 '2013-08-19',
 '2016-02-07',
 '2010-12-29',
 '2013-09-12',
 '2009-10-13',
 '2012-03-29',
 '2014-02-11',
 '2016-05-09',
 '2013-06-13',
 '2014-03-07',
 '2017-05-18',
 '2014-03-15',
 '2013-05-28',
 '2014-06-25',
 '2017-01-18',
 '2016-03-03',
 '2010-11-05',
 '2008-05-18',
 '2010-09-02',
 '2015-10-20',
 '2014-05-18',
 '2016-08-10',
 '2016-07-09',
 '2010-05-19',
 '2013-11-03',
 '2015-05-23',
 '2015-07-05',
 '2008-03-17',
 '2011-03-26',
 '2008-08-14',
 '2009-01-19',
 '2009-08-01',
 '2010-11-06',
 '2009-03-28',
 '2017-06-04',
 '2008-02-09',
 '2010-06-09',
 '2012-03-13',
 '2016-08-09',
 '2009-06-15',
 '2016-05-21',
 '2016-04-30',
 '2017-06-22',
 '2009-03-14',
 '2017-01-12',
 '2013-05-21',
 '2016-07-24',
 '2015-09-26',
 '2016-07-17',
 '2013-04-07',
 '2017-03-18',
 '2010-07-12',
 '2009-11-02',
 '2012-07-16',
 '2008-12-30',
 '2008-10-09',
 '2012-05-15',
 '2015-03-20',
 '2015-05-17',
 '2016-10-20',
 '2008-10-07',
 '2008-03-01',
 '2009-04-15',
 '2014-11-21',
 '2015-11-05',
 '2016-09-08',
 '2011-07-23',
 '2010-08-17',
 '2008-07-22',
 '2014-01-06',
 '2015-05-11',
 '2009-02-04',
 '2008-08-07',
 '2009-03-07',
 '2008-07-14',
 '2011-05-08',
 '2015-12-18',
 '2015-11-06',
 '2008-01-11',
 '2016-06-09',
 '2009-01-25',
 '2012-05-01',
 '2014-07-07',
 '2016-02-02',
 '2016-11-01',
 '2014-05-07',
 '2009-09-09',
 '2016-12-09',
 '2013-08-22',
 '2009-08-27',
 '2008-07-07',
 '2008-06-25',
 '2011-11-02',
 '2010-10-25',
 '2017-05-17',
 '2008-09-01',
 '2014-11-18',
 '2013-04-16',
 '2013-09-24',
 '2014-08-13',
 '2013-08-14',
 '2011-10-20',
 '2012-11-16',
 '2017-03-02',
 '2010-02-23',
 '2008-07-08',
 '2009-05-27',
 '2011-11-11',
 '2015-09-21',
 '2008-01-20',
 '2010-06-24',
 '2013-01-10',
 '2012-06-10',
 '2009-02-11',
 '2013-03-05',
 '2013-09-23',
 '2015-07-30',
 '2012-06-21',
 '2011-08-08',
 '2013-12-26',
 '2010-07-01',
 '2010-07-07',
 '2012-06-03',
 '2013-03-12',
 '2014-05-09',
 '2011-11-13',
 '2015-02-19',
 '2015-09-28',
 '2009-10-21',
 '2013-08-01',
 '2013-04-21',
 '2014-02-20',
 '2014-10-15',
 '2016-08-13',
 '2010-03-07',
 '2011-10-12',
 '2013-06-24',
 '2008-01-18',
 '2016-09-23',
 '2015-08-15',
 '2017-05-04',
 '2011-11-06',
 '2013-03-06',
 '2015-11-19',
 '2016-05-20',
 '2012-10-11',
 '2012-09-17',
 '2014-04-14',
 '2014-03-14',
 '2014-09-25',
 '2011-07-15',
 '2011-03-21',
 '2013-01-26',
 '2014-01-26',
 '2008-03-02',
 '2012-02-02',
 '2008-02-04',
 '2010-06-26',
 '2012-02-28',
 '2015-05-01',
 '2014-01-16',
 '2009-02-22',
 '2016-09-14',
 '2008-09-26',
 '2016-09-28',
 '2017-03-30',
 '2012-08-27',
 '2016-02-04',
 '2009-10-27',
 '2014-10-31',
 '2014-10-12',
 '2016-02-23',
 '2011-02-06',
 '2016-01-03',
 '2016-10-05',
 '2009-09-06',
 '2011-12-10',
 '2008-05-10',
 '2010-12-02',
 '2016-06-16',
 '2012-01-24',
 '2010-02-09',
 '2008-12-01',
 '2011-05-01',
 '2014-12-08',
 '2007-11-25',
 '2016-11-15',
 '2016-06-08',
 '2015-02-26',
 '2008-07-01',
 '2013-01-30',
 '2013-05-29',
 '2015-10-03',
 '2012-07-04',
 '2017-02-24',
 '2011-09-25',
 '2015-03-21',
 '2011-05-21',
 '2011-10-06',
 '2011-06-14',
 '2015-10-26',
 '2017-05-05',
 '2016-04-02',
 '2017-03-26',
 '2010-12-10',
 '2011-07-04',
 '2013-03-31',
 '2010-09-22',
 '2008-11-02',
 '2015-03-25',
 '2013-10-20',
 '2015-05-19',
 '2013-03-23',
 '2009-08-05',
 '2016-02-14',
 '2011-10-27',
 '2012-03-21',
 '2013-01-19',
 '2008-05-19',
 '2011-03-05',
 '2012-02-23',
 '2014-08-26',
 '2008-05-12',
 '2014-12-27',
 '2010-09-04',
 '2010-07-25',
 '2016-02-06',
 '2008-08-05',
 '2009-08-08',
 '2009-07-05',
 '2015-07-26',
 '2013-05-26',
 '2015-11-30',
 '2013-01-22',
 '2016-08-03',
 '2010-10-30',
 '2013-12-23',
 '2015-11-12',
 '2012-09-26',
 '2010-11-11',
 '2008-10-13',
 '2011-10-15',
 '2015-02-03',
 '2013-07-24',
 '2016-09-22',
 '2012-08-05',
 '2012-05-06',
 '2015-01-16',
 '2015-08-09',
 '2017-02-19',
 '2014-12-07',
 '2015-08-06',
 '2016-03-27',
 '2015-12-11',
 '2009-11-05',
 '2012-04-29',
 '2011-11-17',
 '2013-11-04',
 '2015-07-11',
 '2011-06-19',
 '2008-08-04',
 '2014-10-11',
 '2012-01-26',
 '2009-11-06',
 '2011-06-16',
 '2009-05-03',
 '2008-05-03',
 '2009-03-25',
 '2016-11-18',
 '2016-10-12',
 '2008-11-20',
 '2010-04-03',
 '2012-09-04',
 '2013-11-12',
 '2009-02-10',
 '2014-05-08',
 '2008-07-25',
 '2015-11-07',
 '2008-04-23',
 '2014-09-14',
 '2016-09-12',
 '2011-06-20',
 '2015-02-04',
 '2016-05-08',
 '2008-12-13',
 '2014-08-08',
 '2015-06-17',
 '2015-10-09',
 '2008-05-05',
 '2012-03-08',
 '2016-12-05',
 '2013-09-18',
 '2009-03-22',
 '2013-06-23',
 '2013-10-21',
 '2014-03-05',
 '2010-09-16',
 '2017-05-01',
 '2016-12-26',
 '2013-06-15',
 '2013-05-23',
 '2015-03-05',
 '2012-05-27',
 '2013-05-16',
 '2011-10-04',
 '2012-11-21',
 '2016-01-30',
 '2011-06-15',
 '2009-10-16',
 '2012-04-14',
 '2011-05-19',
 '2012-06-28',
 '2013-10-06',
 '2011-03-06',
 '2013-05-08',
 '2009-03-23',
 '2009-06-06',
 '2010-05-10',
 '2016-10-10',
 '2015-12-25',
 '2016-06-15',
 '2009-04-10',
 '2012-05-21',
 '2016-02-03',
 '2013-01-21',
 '2009-01-23',
 '2012-02-16',
 '2016-08-11',
 '2009-08-13',
 '2010-11-14',
 '2013-05-06',
 '2013-08-31',
 '2013-11-15',
 '2016-04-14',
 '2010-04-12',
 '2009-12-05',
 '2014-09-18',
 '2009-09-07',
 '2015-12-26',
 '2014-12-20',
 '2011-06-05',
 '2010-12-31',
 '2011-07-24',
 '2009-07-12',
 '2013-07-06',
 '2013-01-09',
 '2009-09-20',
 '2010-10-17',
 '2012-02-11',
 '2008-10-05',
 '2011-08-18',
 '2008-07-05',
 '2008-04-28',
 '2015-07-14',
 '2017-04-10',
 '2010-07-02',
 '2013-06-02',
 '2016-03-14',
 '2014-02-14',
 '2013-08-28',
 '2016-12-29',
 '2017-01-29',
 '2015-07-06',
 '2017-02-18',
 '2016-11-20',
 '2007-12-26',
 '2016-10-23',
 '2012-01-23',
 '2015-07-18',
 '2012-01-14',
 '2016-11-10',
 '2009-02-18',
 '2016-04-18',
 '2010-03-03',
 '2016-08-04',
 '2017-02-21',
 '2014-08-12',
 '2014-12-21',
 '2014-07-29',
 '2015-02-25',
 '2009-11-14',
 '2008-03-10',
 '2014-02-12',
 '2008-09-21',
 '2017-01-24',
 '2013-05-27',
 '2014-08-30',
 '2012-02-20',
 '2016-10-09',
 '2013-06-26',
 '2010-04-05',
 '2011-11-26',
 '2017-01-09',
 '2008-06-21',
 '2015-03-08',
 '2015-07-19',
 '2012-07-13',
 '2014-07-23',
 '2010-10-21',
 '2008-07-21',
 '2009-05-11',
 '2014-03-09',
 '2009-01-21',
 '2015-04-29',
 '2015-12-04',
 '2010-05-11',
 '2007-12-27',
 '2011-09-01',
 '2017-03-09',
 '2011-07-06',
 '2016-08-07',
 ...}

In [133]:
def class_counts(rows):
    """Counts the number of each type of example in a dataset."""
    counts = {}  # a dictionary of label -> count.
    for row in rows:
        # in our dataset format, the label is always the last column
        label = row[-1]
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts

In [134]:
#######
# Demo:
class_counts(training_data)
#######

{0: 110316, 1: 31877}

In [135]:
def is_numeric(value):
    """Test if a value is numeric."""
    return isinstance(value, int) or isinstance(value, float)

In [136]:
#######
# Demo:
is_numeric(7)
# is_numeric("Red")
#######

True

In [137]:
class Question:
    """A Question is used to partition a dataset.

    This class just records a 'column number' (e.g., 0 for Color) and a
    'column value' (e.g., Green). The 'match' method is used to compare
    the feature value in an example to the feature value stored in the
    question. See the demo below.
    """

    def __init__(self, column, value):
        self.column = column
        self.value = value

    def match(self, example):
        # Compare the feature value in an example to the
        # feature value in this question.
        val = example[self.column]
        if is_numeric(val):
            return val >= self.value
        else:
            return val == self.value

    def __repr__(self):
        # This is just a helper method to print
        # the question in a readable format.
        condition = "=="
        if is_numeric(self.value):
            condition = ">="
        return "Is %s %s %s?" % (
            header[self.column], condition, str(self.value))

In [138]:
#######
# Demo:
# Let's write a question for a numeric attribute
Question(1, 3)

Is Location >= 3?

In [139]:
# How about one for a categorical attribute
q = Question(0, 'Green')
q

Is Date == Green?

In [140]:
# Let's pick an example from the training set...
example = training_data[0]
# ... and see if it matches the question
q.match(example) # this will be true, since the first example is Green.
#######

False

In [141]:
def partition(rows, question):
    """Partitions a dataset.

    For each row in the dataset, check if it matches the question. If
    so, add it to 'true rows', otherwise, add it to 'false rows'.
    """
    true_rows, false_rows = [], []
    for row in rows:
        if question.match(row):
            true_rows.append(row)
        else:
            false_rows.append(row)
    return true_rows, false_rows

In [142]:
#######
# Demo:
# Let's partition the training data based on whether rows are Red.
true_rows, false_rows = partition(training_data, Question(0, 'Red'))
# This will contain all the 'Red' rows.
true_rows

[]

In [143]:
# This will contain everything else.
false_rows
#######

[array(['2008-12-01', 'Albury', 13.4, 22.9, 0.6, 5.469824216349123,
        7.624853113193571, 'W', 44.0, 'W', 'WNW', 20.0, 24.0, 71.0, 22.0,
        1007.7, 1007.1, 8.0, 4.503166899728551, 16.9, 21.8, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-02', 'Albury', 7.4, 25.1, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 44.0, 'NNW', 'WSW', 4.0, 22.0, 44.0,
        25.0, 1010.6, 1007.8, 4.437189391885787, 4.503166899728551, 17.2,
        24.3, 'No', 'No', 0, 0], dtype=object),
 array(['2008-12-03', 'Albury', 12.9, 25.7, 0.0, 5.469824216349123,
        7.624853113193571, 'WSW', 46.0, 'W', 'WSW', 19.0, 26.0, 38.0, 30.0,
        1007.6, 1008.7, 4.437189391885787, 2.0, 21.0, 23.2, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-04', 'Albury', 9.2, 28.0, 0.0, 5.469824216349123,
        7.624853113193571, 'NE', 24.0, 'SE', 'E', 11.0, 9.0, 45.0, 16.0,
        1017.6, 1012.8, 4.437189391885787, 4.503166899728551, 18.1, 26.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-05', 'Albury', 17.5, 32.3, 1.0, 5.469824216349123,
        7.624853113193571, 'W', 41.0, 'ENE', 'NW', 7.0, 20.0, 82.0, 33.0,
        1010.8, 1006.0, 7.0, 8.0, 17.8, 29.7, 'No', 'No', 0, 0],
       dtype=object),
 array(['2008-12-06', 'Albury', 14.6, 29.7, 0.2, 5.469824216349123,
        7.624853113193571, 'WNW', 56.0, 'W', 'W', 19.0, 24.0, 55.0, 23.0,
        1009.2, 1005.4, 4.437189391885787, 4.503166899728551, 20.6, 28.9,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-07', 'Albury', 14.3, 25.0, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 50.0, 'SW', 'W', 20.0, 24.0, 49.0, 19.0,
        1009.6, 1008.2, 1.0, 4.503166899728551, 18.1, 24.6, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-08', 'Albury', 7.7, 26.7, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 35.0, 'SSE', 'W', 6.0, 17.0, 48.0, 19.0,
        1013.4, 1010.1, 4.437189391885787, 4.503166899728551, 16.3, 25.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-09', 'Albury', 9.7, 31.9, 0.0, 5.469824216349123,
        7.624853113193571, 'NNW', 80.0, 'SE', 'NW', 7.0, 28.0, 42.0, 9.0,
        1008.9, 1003.6, 4.437189391885787, 4.503166899728551, 18.3, 30.2,
        'No', 'Yes', 0, 1], dtype=object),
 array(['2008-12-10', 'Albury', 13.1, 30.1, 1.4, 5.469824216349123,
        7.624853113193571, 'W', 28.0, 'S', 'SSE', 15.0, 11.0, 58.0, 27.0,
        1007.0, 1005.7, 4.437189391885787, 4.503166899728551, 20.1, 28.2,
        'Yes', 'No', 1, 0], dtype=object),
 array(['2008-12-11', 'Albury', 13.4, 30.4, 0.0, 5.469824216349123,
        7.624853113193571, 'N', 30.0, 'SSE', 'ESE', 17.0, 6.0, 48.0, 22.0,
        1011.8, 1008.7, 4.437189391885787, 4.503166899728551, 20.4, 28.8,
        'No', 'Yes', 0, 1], dtype=object),
 array(['2008-12-12', 'Albury', 15.9, 21.7, 2.2, 5.469824216349123,
        7.624853113193571, 'NNE', 31.0, 'NE', 'ENE', 15.0, 13.0, 89.0,
        91.0, 1010.5, 1004.2, 8.0, 8.0, 15.9, 17.0, 'Yes', 'Yes', 1, 1],
       dtype=object),
 array(['2008-12-13', 'Albury', 15.9, 18.6, 15.6, 5.469824216349123,
        7.624853113193571, 'W', 61.0, 'NNW', 'NNW', 28.0, 28.0, 76.0, 93.0,
        994.3, 993.0, 8.0, 8.0, 17.4, 15.8, 'Yes', 'Yes', 1, 1],
       dtype=object),
 array(['2008-12-14', 'Albury', 12.6, 21.0, 3.6, 5.469824216349123,
        7.624853113193571, 'SW', 44.0, 'W', 'SSW', 24.0, 20.0, 65.0, 43.0,
        1001.2, 1001.8, 4.437189391885787, 7.0, 15.8, 19.8, 'Yes', 'No', 1,
        0], dtype=object),
 array(['2008-12-16', 'Albury', 9.8, 27.7, 2.3499740743111954,
        5.469824216349123, 7.624853113193571, 'WNW', 50.0, nan, 'WNW',
        14.001988000994, 22.0, 50.0, 28.0, 1013.4, 1010.3, 0.0,
        4.503166899728551, 17.3, 26.2, nan, 'No', 0, 0], dtype=object),
 array(['2008-12-17', 'Albury', 14.1, 20.9, 0.0, 5.469824216349123,
        7.624853113193571, 'ENE', 22.0, 'SSW', 'E', 11.0, 9.0, 69.0, 82.0,
        1012.2, 1010.4, 8.0, 1.0, 17.2, 18.1, 'No', 'Yes', 0, 1],
       dtype=object),
 array(['2008-12-18', 'Albury', 13.5, 22.9, 16.8, 5.469824216349123,
        7.624853113193571, 'W', 63.0, 'N', 'WNW', 6.0, 20.0, 80.0, 65.0,
        1005.8, 1002.2, 8.0, 1.0, 18.0, 21.5, 'Yes', 'Yes', 1, 1],
       dtype=object),
 array(['2008-12-19', 'Albury', 11.2, 22.5, 10.6, 5.469824216349123,
        7.624853113193571, 'SSE', 43.0, 'WSW', 'SW', 24.0, 17.0, 47.0,
        32.0, 1009.4, 1009.7, 4.437189391885787, 2.0, 15.5, 21.0, 'Yes',
        'No', 1, 0], dtype=object),
 array(['2008-12-20', 'Albury', 9.8, 25.6, 0.0, 5.469824216349123,
        7.624853113193571, 'SSE', 26.0, 'SE', 'NNW', 17.0, 6.0, 45.0, 26.0,
        1019.2, 1017.1, 4.437189391885787, 4.503166899728551, 15.8, 23.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-21', 'Albury', 11.5, 29.3, 0.0, 5.469824216349123,
        7.624853113193571, 'S', 24.0, 'SE', 'SE', 9.0, 9.0, 56.0, 28.0,
        1019.3, 1014.8, 4.437189391885787, 4.503166899728551, 19.1, 27.3,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-22', 'Albury', 17.1, 33.0, 0.0, 5.469824216349123,
        7.624853113193571, 'NE', 43.0, 'NE', 'N', 17.0, 22.0, 38.0, 28.0,
        1013.6, 1008.1, 4.437189391885787, 1.0, 24.5, 31.6, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-23', 'Albury', 20.5, 31.8, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 41.0, 'W', 'W', 19.0, 20.0, 54.0, 24.0,
        1007.8, 1005.7, 4.437189391885787, 4.503166899728551, 23.8, 30.8,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-24', 'Albury', 15.3, 30.9, 0.0, 5.469824216349123,
        7.624853113193571, 'N', 33.0, 'ESE', 'NW', 6.0, 13.0, 55.0, 23.0,
        1011.0, 1008.2, 5.0, 4.503166899728551, 20.9, 29.0, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-25', 'Albury', 12.6, 32.4, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 43.0, 'E', 'W', 4.0, 19.0, 49.0, 17.0,
        1012.9, 1010.1, 4.437189391885787, 4.503166899728551, 21.5, 31.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-26', 'Albury', 16.2, 33.9, 0.0, 5.469824216349123,
        7.624853113193571, 'WSW', 35.0, 'SE', 'WSW', 9.0, 13.0, 45.0, 19.0,
        1010.9, 1007.6, 4.437189391885787, 1.0, 23.2, 33.0, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-27', 'Albury', 16.9, 33.0, 0.0, 5.469824216349123,
        7.624853113193571, 'WSW', 57.0, nan, 'W', 0.0, 26.0, 41.0, 28.0,
        1006.8, 1003.6, 4.437189391885787, 1.0, 26.6, 31.2, 'No', 'No', 0,
        0], dtype=object),
 array(['2008-12-28', 'Albury', 20.1, 32.7, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 48.0, 'N', 'WNW', 13.0, 30.0, 56.0, 15.0,
        1005.2, 1001.7, 4.437189391885787, 4.503166899728551, 24.6, 32.1,
        'No', 'No', 0, 0], dtype=object),
 array(['2008-12-29', 'Albury', 19.7, 27.2, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 46.0, 'NW', 'WSW', 19.0, 30.0, 49.0,
        22.0, 1004.8, 1004.2, 4.437189391885787, 4.503166899728551, 21.6,
        26.1, 'No', 'Yes', 0, 1], dtype=object),
 array(['2008-12-30', 'Albury', 12.5, 24.2, 1.2, 5.469824216349123,
        7.624853113193571, 'WNW', 50.0, 'WSW', 'SW', 11.0, 22.0, 78.0,
        70.0, 1005.6, 1003.4, 8.0, 8.0, 12.5, 18.2, 'Yes', 'No', 1, 0],
       dtype=object),
 array(['2008-12-31', 'Albury', 12.0, 24.4, 0.8, 5.469824216349123,
        7.624853113193571, 'W', 39.0, 'WNW', 'WNW', 17.0, 17.0, 48.0, 28.0,
        1006.1, 1005.1, 1.0, 4.503166899728551, 16.9, 22.7, 'No', 'No', 0,
        0], dtype=object),
 array(['2009-01-01', 'Albury', 11.3, 26.5, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 56.0, 'W', 'WNW', 19.0, 31.0, 46.0, 26.0,
        1004.5, 1003.2, 4.437189391885787, 4.503166899728551, 19.7, 25.7,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-02', 'Albury', 9.6, 23.9, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 41.0, 'WSW', 'SSW', 19.0, 11.0, 44.0, 22.0,
        1014.4, 1013.1, 4.437189391885787, 4.503166899728551, 14.9, 22.1,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-03', 'Albury', 10.5, 28.8, 0.0, 5.469824216349123,
        7.624853113193571, 'SSE', 26.0, 'SSE', 'E', 11.0, 7.0, 43.0, 22.0,
        1018.7, 1014.8, 4.437189391885787, 4.503166899728551, 17.1, 26.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-04', 'Albury', 12.3, 34.6, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 37.0, 'SSE', 'NW', 6.0, 17.0, 41.0, 12.0,
        1015.1, 1010.3, 4.437189391885787, 4.503166899728551, 20.7, 33.9,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-05', 'Albury', 12.9, 35.8, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 41.0, 'ENE', 'NW', 6.0, 26.0, 41.0, 9.0,
        1012.6, 1009.2, 4.437189391885787, 4.503166899728551, 22.4, 34.4,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-06', 'Albury', 13.7, 37.9, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 52.0, 'SE', 'WNW', 4.0, 26.0, 33.0, 8.0,
        1010.9, 1006.7, 4.437189391885787, 4.503166899728551, 23.1, 36.8,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-07', 'Albury', 16.1, 38.9, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 57.0, 'E', 'W', 6.0, 30.0, 34.0, 12.0,
        1007.0, 1002.7, 4.437189391885787, 4.503166899728551, 25.2, 38.4,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-08', 'Albury', 14.0, 28.3, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 48.0, 'W', 'WSW', 17.0, 24.0, 43.0, 15.0,
        1011.9, 1010.9, 4.437189391885787, 4.503166899728551, 17.9, 27.6,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-09', 'Albury', 12.5, 28.4, 0.0, 5.469824216349123,
        7.624853113193571, 'NE', 37.0, 'SSE', 'S', 20.0, 9.0, 38.0, 16.0,
        1017.8, 1013.7, 4.437189391885787, 4.503166899728551, 17.2, 26.6,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-10', 'Albury', 17.0, 30.8, 0.0, 5.469824216349123,
        7.624853113193571, 'NE', 37.0, 'NNE', 'E', 15.0, 11.0, 36.0, 24.0,
        1013.4, 1008.1, 4.437189391885787, 4.503166899728551, 20.2, 29.3,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-11', 'Albury', 16.9, 32.0, 0.0, 5.469824216349123,
        7.624853113193571, 'S', 31.0, 'SSE', 'N', 13.0, 17.0, 52.0, 31.0,
        1009.9, 1006.8, 4.437189391885787, 4.503166899728551, 22.8, 30.0,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-12', 'Albury', 17.3, 34.7, 0.0, 5.469824216349123,
        7.624853113193571, 'SW', 35.0, 'SE', 'WSW', 7.0, 15.0, 48.0, 16.0,
        1014.1, 1012.1, 4.437189391885787, 4.503166899728551, 24.2, 33.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-13', 'Albury', 17.2, 37.7, 0.0, 5.469824216349123,
        7.624853113193571, 'NNW', 35.0, 'SE', 'NW', 7.0, 17.0, 51.0, 19.0,
        1015.7, 1010.9, 4.437189391885787, 4.503166899728551, 24.3, 35.7,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-14', 'Albury', 17.4, 43.0, 0.0, 5.469824216349123,
        7.624853113193571, 'NW', 39.0, 'SSE', 'SSW', 7.0, 17.0, 40.0, 8.0,
        1011.6, 1006.9, 4.437189391885787, 4.503166899728551, 25.6, 41.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-15', 'Albury', 19.8, 32.7, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 44.0, 'W', 'W', 20.0, 28.0, 34.0, 28.0,
        1008.4, 1009.2, 4.437189391885787, 4.503166899728551, 27.6, 27.1,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-16', 'Albury', 14.9, 26.7, 0.0, 5.469824216349123,
        7.624853113193571, 'SW', 56.0, 'WSW', 'SW', 20.0, 31.0, 46.0, 20.0,
        1014.1, 1012.7, 4.437189391885787, 4.503166899728551, 18.0, 25.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-17', 'Albury', 10.5, 28.4, 0.0, 5.469824216349123,
        7.624853113193571, 'SE', 33.0, 'SE', 'SW', 19.0, 11.0, 35.0, 16.0,
        1019.7, 1017.4, 4.437189391885787, 4.503166899728551, 16.0, 25.8,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-18', 'Albury', 11.3, 32.2, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 28.0, 'ENE', 'SSW', 17.0, 15.0, 34.0,
        17.0, 1019.7, 1016.2, 4.437189391885787, 4.503166899728551, 20.9,
        30.5, 'No', 'No', 0, 0], dtype=object),
 array(['2009-01-19', 'Albury', 13.9, 36.6, 0.0, 5.469824216349123,
        7.624853113193571, 'WNW', 39.0, 'SSE', 'NNE', 2.0, 15.0, 39.0,
        10.0, 1015.8, 1010.6, 4.437189391885787, 4.503166899728551, 22.0,
        34.4, 'No', 'No', 0, 0], dtype=object),
 array(['2009-01-20', 'Albury', 18.6, 39.9, 0.0, 5.469824216349123,
        7.624853113193571, 'NNW', 61.0, 'SSE', 'WNW', 9.0, 20.0, 36.0,
        21.0, 1010.1, 1004.8, 4.437189391885787, 4.503166899728551, 26.8,
        37.7, 'No', 'No', 0, 0], dtype=object),
 array(['2009-01-21', 'Albury', 19.3, 38.1, 0.8, 5.469824216349123,
        7.624853113193571, 'NNW', 61.0, 'NE', 'WSW', 15.0, 17.0, 48.0,
        17.0, 1009.6, 1005.9, 4.437189391885787, 4.503166899728551, 27.3,
        36.1, 'No', 'No', 0, 0], dtype=object),
 array(['2009-01-22', 'Albury', 24.4, 34.0, 0.6, 5.469824216349123,
        7.624853113193571, 'NW', 98.0, 'N', 'NNW', 26.0, 48.0, 60.0, 39.0,
        1005.3, 997.8, 4.0, 1.0, 26.1, 33.1, 'No', 'Yes', 0, 1],
       dtype=object),
 array(['2009-01-23', 'Albury', 18.8, 35.2, 6.4, 5.469824216349123,
        7.624853113193571, 'WNW', 52.0, 'S', 'NW', 6.0, 28.0, 43.0, 28.0,
        1007.9, 1003.9, 4.437189391885787, 4.503166899728551, 22.8, 33.0,
        'Yes', 'No', 1, 0], dtype=object),
 array(['2009-01-24', 'Albury', 20.8, 30.6, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 54.0, 'W', 'W', 30.0, 28.0, 41.0, 21.0,
        1005.4, 1007.6, 4.437189391885787, 4.503166899728551, 23.3, 29.7,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-25', 'Albury', 14.0, 34.3, 0.0, 5.469824216349123,
        7.624853113193571, 'WSW', 24.0, 'ESE', 'SSE', 7.0, 13.0, 44.0,
        10.0, 1016.5, 1014.6, 4.437189391885787, 4.503166899728551, 21.2,
        32.1, 'No', 'No', 0, 0], dtype=object),
 array(['2009-01-26', 'Albury', 15.7, 38.4, 0.0, 5.469824216349123,
        7.624853113193571, 'S', 33.0, 'SSE', 'WSW', 7.0, 7.0, 48.0, 12.0,
        1017.7, 1014.6, 4.437189391885787, 4.503166899728551, 23.4, 36.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-27', 'Albury', 18.5, 38.2, 0.0, 5.469824216349123,
        7.624853113193571, 'NNE', 31.0, 'SE', 'NNW', 9.0, 17.0, 48.0, 25.0,
        1017.8, 1014.1, 4.437189391885787, 4.503166899728551, 25.8, 36.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-28', 'Albury', 20.4, 40.7, 0.0, 5.469824216349123,
        7.624853113193571, 'N', 37.0, 'E', 'NNE', 7.0, 13.0, 45.0, 15.0,
        1014.9, 1011.6, 4.437189391885787, 4.503166899728551, 28.2, 39.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-29', 'Albury', 21.8, 41.5, 0.0, 5.469824216349123,
        7.624853113193571, 'SW', 24.0, 'ESE', 'S', 6.0, 11.0, 38.0, 13.0,
        1015.7, 1011.8, 4.437189391885787, 4.503166899728551, 29.0, 40.1,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-30', 'Albury', 22.3, 42.9, 0.0, 5.469824216349123,
        7.624853113193571, 'NNE', 28.0, 'ESE', 'SE', 9.0, 11.0, 37.0, 11.0,
        1014.6, 1010.2, 4.437189391885787, 4.503166899728551, 29.2, 41.2,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-01-31', 'Albury', 22.0, 42.7, 0.0, 5.469824216349123,
        7.624853113193571, 'ESE', 48.0, 'ESE', 'SW', 4.0, 4.0, 33.0, 11.0,
        1014.2, 1010.5, 4.437189391885787, 4.503166899728551, 29.9, 42.0,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-01', 'Albury', 28.0, 43.1, 0.0, 5.469824216349123,
        7.624853113193571, 'SW', 83.0, 'SE', 'E', 15.0, 9.0, 27.0, 9.0,
        1012.5, 1008.7, 4.437189391885787, 4.503166899728551, 32.4, 41.9,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-02', 'Albury', 24.4, 38.3, 0.2, 5.469824216349123,
        7.624853113193571, 'SW', 56.0, 'NE', 'NW', 19.0, 7.0, 32.0, 21.0,
        1011.7, 1007.4, 4.437189391885787, 4.503166899728551, 28.8, 37.1,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-03', 'Albury', 21.5, 37.7, 0.0, 5.469824216349123,
        7.624853113193571, nan, 39.98429165757619, 'N', nan, 13.0, 9.0,
        51.0, 21.0, 1009.2, 1005.7, 4.437189391885787, 4.503166899728551,
        27.2, 36.2, 'No', 'No', 0, 0], dtype=object),
 array(['2009-02-04', 'Albury', 21.7, 36.9, 0.0, 5.469824216349123,
        7.624853113193571, nan, 39.98429165757619, nan, nan, 11.0, 11.0,
        53.0, 26.0, 1008.8, 1004.7, 4.437189391885787, 4.503166899728551,
        25.5, 35.2, 'No', 'No', 0, 0], dtype=object),
 array(['2009-02-05', 'Albury', 21.5, 41.2, 0.0, 5.469824216349123,
        7.624853113193571, 'WSW', 35.0, 'SSE', 'S', 7.0, 19.0, 48.0, 15.0,
        1005.9, 1002.6, 4.437189391885787, 4.503166899728551, 26.5, 39.7,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-06', 'Albury', 23.5, 42.2, 0.0, 5.469824216349123,
        7.624853113193571, 'W', 37.0, 'SE', 'W', 6.0, 15.0, 39.0, 8.0,
        1008.0, 1005.0, 4.437189391885787, 4.503166899728551, 28.7, 41.6,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-07', 'Albury', 22.3, 44.8, 0.0, 5.469824216349123,
        7.624853113193571, 'NNW', 59.0, 'SE', 'NW', 9.0, 33.0, 36.0, 11.0,
        1008.2, 1003.8, 4.437189391885787, 4.503166899728551, 29.6, 43.4,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-08', 'Albury', 28.3, 40.2, 0.0, 5.469824216349123,
        7.624853113193571, 'NW', 52.0, 'N', 'W', 9.0, 22.0, 20.0, 19.0,
        1007.0, 1006.5, 4.437189391885787, 5.0, 34.5, 38.5, 'No', 'No', 0,
        0], dtype=object),
 array(['2009-02-09', 'Albury', 18.4, 31.2, 0.4, 5.469824216349123,
        7.624853113193571, 'SE', 37.0, 'SW', 'WSW', 7.0, 11.0, 66.0, 31.0,
        1009.3, 1007.8, 7.0, 8.0, 18.7, 29.4, 'No', 'No', 0, 0],
       dtype=object),
 array(['2009-02-10', 'Albury', 14.9, 27.3, 0.0, 5.469824216349123,
        7.624853113193571, 'SSE', 41.0, 'SSE', 'SE', 20.0, 13.0, 50.0,
        30.0, 1011.6, 1008.5, 4.437189391885787, 1.0, 17.4, 25.8, 'No',
        'No', 0, 0], dtype=object),
 array(['2009-02-11', 'Albury', 13.5, 26.7, 0.0, 5.469824216349123,
        7.624853113193571, 'SSE', 46.0, 'SSE', 'E', 19.0, 11.0, 45.0, 24.0,
        1012.8, 1011.1, 4.437189391885787, 4.503166899728551, 16.7, 24.9,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-12', 'Albury', 16.1, 21.6, 0.0, 5.469824216349123,
        7.624853113193571, 'SE', 46.0, 'SSE', 'NE', 11.0, 15.0, 58.0, 69.0,
        1017.0, 1017.3, 2.0, 8.0, 17.0, 17.3, 'No', 'Yes', 0, 1],
       dtype=object),
 array(['2009-02-13', 'Albury', 14.6, 29.0, 3.0, 5.469824216349123,
        7.624853113193571, 'SSE', 41.0, 'SE', 'SSE', 26.0, 24.0, 41.0,
        21.0, 1023.3, 1019.7, 4.437189391885787, 4.503166899728551, 18.0,
        27.6, 'Yes', 'No', 1, 0], dtype=object),
 array(['2009-02-14', 'Albury', 12.4, 29.2, 0.0, 5.469824216349123,
        7.624853113193571, 'NE', 39.0, 'S', nan, 7.0, 0.0, 37.0, 18.0,
        1022.5, 1016.4, 4.437189391885787, 4.503166899728551, 18.3, 28.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-15', 'Albury', 13.3, 31.3, 0.0, 5.469824216349123,
        7.624853113193571, 'NNE', 41.0, 'SSE', 'SSW', 7.0, 15.0, 50.0,
        23.0, 1016.2, 1012.8, 4.437189391885787, 4.503166899728551, 19.2,
        29.2, 'No', 'No', 0, 0], dtype=object),
 array(['2009-02-16', 'Albury', 17.2, 31.1, 0.0, 5.469824216349123,
        7.624853113193571, 'E', 35.0, 'SE', 'ESE', 17.0, 11.0, 43.0, 22.0,
        1017.7, 1013.8, 4.437189391885787, 4.503166899728551, 21.4, 29.5,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-17', 'Albury', 12.5, 28.8, 0.0, 5.469824216349123,
        7.624853113193571, 'N', 31.0, 'SSE', 'ENE', 7.0, 11.0, 46.0, 17.0,
        1017.2, 1013.5, 4.437189391885787, 4.503166899728551, 18.0, 27.0,
        'No', 'No', 0, 0], dtype=object),
 array(['2009-02-18', 'Albury', 18.0, 32.0, 0.0, 5.469824216349123,
        7.624853113193571, 'NW', 31.0, 'ENE', 'SW', 4.0, 13.0, 44.0, 22.0,

In [144]:
def gini(rows):
    """Calculate the Gini Impurity for a list of rows.

    There are a few different ways to do this, I thought this one was
    the most concise. See:
    https://en.wikipedia.org/wiki/Decision_tree_learning#Gini_impurity
    """
    counts = class_counts(rows)
    impurity = 1
    for lbl in counts:
        prob_of_lbl = counts[lbl] / float(len(rows))
        impurity -= prob_of_lbl**2
    return impurity

In [18]:
#######
# Demo:
# Let's look at some example to understand how Gini Impurity works.
#
# First, we'll look at a dataset with no mixing.
no_mixing = [['Apple'],
              ['Apple']]
# this will return 0
gini(no_mixing)

0.0

In [19]:
# Now, we'll look at dataset with a 50:50 apples:oranges ratio
some_mixing = [['Apple'],
               ['Orange']]
# this will return 0.5 - meaning, there's a 50% chance of misclassifying
# a random example we draw from the dataset.
gini(some_mixing)

0.5

In [20]:
# Now, we'll look at a dataset with many different labels
lots_of_mixing = [['Apple'],
                  ['Orange'],
                  ['Grape'],
                  ['Grapefruit'],
                  ['Blueberry']]
# This will return 0.8
gini(lots_of_mixing)
#######

0.7999999999999998

In [145]:
def info_gain(left, right, current_uncertainty):
    """Information Gain.

    The uncertainty of the starting node, minus the weighted impurity of
    two child nodes.
    """
    p = float(len(left)) / (len(left) + len(right))
    return current_uncertainty - p * gini(left) - (1 - p) * gini(right)

In [146]:
#######
# Demo:
# Calculate the uncertainy of our training data.
current_uncertainty = gini(training_data)
current_uncertainty

0.3478479995268695

In [23]:
# How much information do we gain by partioning on 'Green'?
true_rows, false_rows = partition(training_data, Question(0, 'Green'))
info_gain(true_rows, false_rows, current_uncertainty)

0.1399999999999999

In [24]:
# What about if we partioned on 'Red' instead?
true_rows, false_rows = partition(training_data, Question(0,'Red'))
info_gain(true_rows, false_rows, current_uncertainty)

0.37333333333333324

In [25]:
# It looks like we learned more using 'Red' (0.37), than 'Green' (0.14).
# Why? Look at the different splits that result, and see which one
# looks more 'unmixed' to you.
true_rows, false_rows = partition(training_data, Question(0,'Red'))

# Here, the true_rows contain only 'Grapes'.
true_rows

[['Red', 1, 'Grape'], ['Red', 1, 'Grape']]

In [26]:
# And the false rows contain two types of fruit. Not too bad.
false_rows

[['Green', 3, 'Apple'], ['Yellow', 3, 'Apple'], ['Yellow', 3, 'Lemon']]

In [27]:
# On the other hand, partitioning by Green doesn't help so much.
true_rows, false_rows = partition(training_data, Question(0,'Green'))

# We've isolated one apple in the true rows.
true_rows

[['Green', 3, 'Apple']]

In [28]:
# But, the false-rows are badly mixed up.
false_rows
#######

[['Yellow', 3, 'Apple'],
 ['Red', 1, 'Grape'],
 ['Red', 1, 'Grape'],
 ['Yellow', 3, 'Lemon']]

In [147]:
def find_best_split(rows):
    """Find the best question to ask by iterating over every feature / value
    and calculating the information gain."""
    best_gain = 0  # keep track of the best information gain
    best_question = None  # keep train of the feature / value that produced it
    current_uncertainty = gini(rows)
    n_features = len(rows[0]) - 1  # number of columns

    for col in range(n_features):  # for each feature

        values = set([row[col] for row in rows])  # unique values in the column

        for val in values:  # for each value

            question = Question(col, val)

            # try splitting the dataset
            true_rows, false_rows = partition(rows, question)

            # Skip this split if it doesn't divide the
            # dataset.
            if len(true_rows) == 0 or len(false_rows) == 0:
                continue

            # Calculate the information gain from this split
            gain = info_gain(true_rows, false_rows, current_uncertainty)

            # You actually can use '>' instead of '>=' here
            # but I wanted the tree to look a certain way for our
            # toy dataset.
            if gain >= best_gain:
                best_gain, best_question = gain, question

    return best_gain, best_question

In [148]:
#######
# Demo:
# Find the best question to ask first for our toy dataset.
best_gain, best_question = find_best_split(training_data)
best_question
# FYI: is color == Red is just as good. See the note in the code above
# where I used '>='.
#######

TypeError: '>=' not supported between instances of 'float' and 'str'

In [149]:
class Leaf:
    """A Leaf node classifies data.

    This holds a dictionary of class (e.g., "Apple") -> number of times
    it appears in the rows from the training data that reach this leaf.
    """

    def __init__(self, rows):
        self.predictions = class_counts(rows)

In [150]:
class Decision_Node:
    """A Decision Node asks a question.

    This holds a reference to the question, and to the two child nodes.
    """

    def __init__(self,
                 question,
                 true_branch,
                 false_branch):
        self.question = question
        self.true_branch = true_branch
        self.false_branch = false_branch

In [151]:
def build_tree(rows):
    """Builds the tree.

    Rules of recursion: 1) Believe that it works. 2) Start by checking
    for the base case (no further information gain). 3) Prepare for
    giant stack traces.
    """

    # Try partitioing the dataset on each of the unique attribute,
    # calculate the information gain,
    # and return the question that produces the highest gain.
    gain, question = find_best_split(rows)

    # Base case: no further info gain
    # Since we can ask no further questions,
    # we'll return a leaf.
    if gain == 0:
        return Leaf(rows)

    # If we reach here, we have found a useful feature / value
    # to partition on.
    true_rows, false_rows = partition(rows, question)

    # Recursively build the true branch.
    true_branch = build_tree(true_rows)

    # Recursively build the false branch.
    false_branch = build_tree(false_rows)

    # Return a Question node.
    # This records the best feature / value to ask at this point,
    # as well as the branches to follow
    # dependingo on the answer.
    return Decision_Node(question, true_branch, false_branch)

In [152]:
def print_tree(node, spacing=""):
    """World's most elegant tree printing function."""

    # Base case: we've reached a leaf
    if isinstance(node, Leaf):
        print (spacing + "Predict", node.predictions)
        return

    # Print the question at this node
    print (spacing + str(node.question))

    # Call this function recursively on the true branch
    print (spacing + '--> True:')
    print_tree(node.true_branch, spacing + "  ")

    # Call this function recursively on the false branch
    print (spacing + '--> False:')
    print_tree(node.false_branch, spacing + "  ")

In [153]:
my_tree = build_tree(training_data)

TypeError: '>=' not supported between instances of 'float' and 'str'

In [36]:
print_tree(my_tree)

Is diameter >= 3?
--> True:
  Is color == Yellow?
  --> True:
    Predict {'Apple': 1, 'Lemon': 1}
  --> False:
    Predict {'Apple': 1}
--> False:
  Predict {'Grape': 2}

In [37]:
def classify(row, node):
    """See the 'rules of recursion' above."""

    # Base case: we've reached a leaf
    if isinstance(node, Leaf):
        return node.predictions

    # Decide whether to follow the true-branch or the false-branch.
    # Compare the feature / value stored in the node,
    # to the example we're considering.
    if node.question.match(row):
        return classify(row, node.true_branch)
    else:
        return classify(row, node.false_branch)

In [38]:
#######
# Demo:
# The tree predicts the 1st row of our
# training data is an apple with confidence 1.
classify(training_data[0], my_tree)
#######

{'Apple': 1}

In [39]:
def print_leaf(counts):
    """A nicer way to print the predictions at a leaf."""
    total = sum(counts.values()) * 1.0
    probs = {}
    for lbl in counts.keys():
        probs[lbl] = str(int(counts[lbl] / total * 100)) + "%"
    return probs

In [40]:
#######
# Demo:
# Printing that a bit nicer
print_leaf(classify(training_data[0], my_tree))
#######

{'Apple': '100%'}

In [41]:
#######
# Demo:
# On the second example, the confidence is lower
print_leaf(classify(training_data[1], my_tree))
#######

{'Apple': '50%', 'Lemon': '50%'}

In [42]:
# Evaluate
testing_data = [
    ['Green', 3, 'Apple'],
    ['Yellow', 4, 'Apple'],
    ['Red', 2, 'Grape'],
    ['Red', 1, 'Grape'],
    ['Yellow', 3, 'Lemon'],
]

In [43]:
for row in testing_data:
    print ("Actual: %s. Predicted: %s" %
           (row[-1], print_leaf(classify(row, my_tree))))

Actual: Apple. Predicted: {'Apple': '100%'}
Actual: Apple. Predicted: {'Apple': '50%', 'Lemon': '50%'}
Actual: Grape. Predicted: {'Grape': '100%'}
Actual: Grape. Predicted: {'Grape': '100%'}
Actual: Lemon. Predicted: {'Apple': '50%', 'Lemon': '50%'}

In [46]:

import pandas as pd # for data manipulation
import numpy as np # for data manipulation

from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import classification_report # for model evaluation metrics
from sklearn import tree # for decision tree models

import plotly.express as px  # for data visualization
import plotly.graph_objects as go # for data visualization
import graphviz # for plotting decision tree graphs

In [47]:
def fitting(X, y, criterion, splitter, mdepth, clweight, minleaf):

    # Create training and testing samples
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    # Fit the model
    model = tree.DecisionTreeClassifier(criterion=criterion, 
                                        splitter=splitter, 
                                        max_depth=mdepth,
                                        class_weight=clweight,
                                        min_samples_leaf=minleaf, 
                                        random_state=0, 
                                  )
    clf = model.fit(X_train, y_train)

    # Predict class labels on training data
    pred_labels_tr = model.predict(X_train)
    # Predict class labels on a test data
    pred_labels_te = model.predict(X_test)

    # Tree summary and model evaluation metrics
    print('*************** Tree Summary ***************')
    print('Classes: ', clf.classes_)
    print('Tree Depth: ', clf.tree_.max_depth)
    print('No. of leaves: ', clf.tree_.n_leaves)
    print('No. of features: ', clf.n_features_)
    print('--------------------------------------------------------')
    print("")
    
    print('*************** Evaluation on Test Data ***************')
    score_te = model.score(X_test, y_test)
    print('Accuracy Score: ', score_te)
    # Look at classification report to evaluate the model
    print(classification_report(y_test, pred_labels_te))
    print('--------------------------------------------------------')
    print("")
    
    print('*************** Evaluation on Training Data ***************')
    score_tr = model.score(X_train, y_train)
    print('Accuracy Score: ', score_tr)
    # Look at classification report to evaluate the model
    print(classification_report(y_train, pred_labels_tr))
    print('--------------------------------------------------------')
    
    # Use graphviz to plot the tree
    dot_data = tree.export_graphviz(clf, out_file=None, 
                                feature_names=X.columns, 
                                class_names=[str(list(clf.classes_)[0]), str(list(clf.classes_)[1])],
                                filled=True, 
                                rounded=True, 
                                #rotate=True,
                               ) 
    graph = graphviz.Source(dot_data)
    
    # Return relevant data for chart plotting
    return X_train, X_test, y_train, y_test, clf, graph

In [49]:
def Plot_3D(X, X_test, y_test, clf, x1, x2, mesh_size, margin):
            
    # Specify a size of the mesh to be used
    mesh_size=mesh_size
    margin=margin

    # Create a mesh grid on which we will run our model
    x_min, x_max = X.iloc[:, 0].fillna(X.mean()).min() - margin, X.iloc[:, 0].fillna(X.mean()).max() + margin
    y_min, y_max = X.iloc[:, 1].fillna(X.mean()).min() - margin, X.iloc[:, 1].fillna(X.mean()).max() + margin
    xrange = np.arange(x_min, x_max, mesh_size)
    yrange = np.arange(y_min, y_max, mesh_size)
    xx, yy = np.meshgrid(xrange, yrange)
            
    # Calculate predictions on grid
    Z = clf.predict_proba(np.c_[xx.ravel(), yy.ravel()])[:, 1]
    Z = Z.reshape(xx.shape)

    # Create a 3D scatter plot with predictions
    fig = px.scatter_3d(x=X_test[x1], y=X_test[x2], z=y_test,
                     opacity=0.8, color_discrete_sequence=['black'])

    # Set figure title and colors
    fig.update_layout(#title_text="Scatter 3D Plot with CART Prediction Surface",
                      paper_bgcolor = 'white',
                      scene = dict(xaxis=dict(title=x1,
                                              backgroundcolor='white',
                                              color='black',
                                              gridcolor='#f0f0f0'),
                                   yaxis=dict(title=x2,
                                              backgroundcolor='white',
                                              color='black',
                                              gridcolor='#f0f0f0'
                                              ),
                                   zaxis=dict(title='Probability of Rain Tomorrow',
                                              backgroundcolor='lightgrey',
                                              color='black', 
                                              gridcolor='#f0f0f0', 
                                              )))
    
    # Update marker size
    fig.update_traces(marker=dict(size=1))

    # Add prediction plane
    fig.add_traces(go.Surface(x=xrange, y=yrange, z=Z, name='CART Prediction',
                              colorscale='Jet',
                              reversescale=True,
                              showscale=False, 
                              contours = {"z": {"show": True, "start": 0.5, "end": 0.9, "size": 0.5}}))
    fig.show()
    return fig

In [105]:
# Select data for modeling

df = pd.DataFrame(training_data  + testing_data, columns = header)
X= df[["color","diameter"]]
y=df['label'].values

# print(X)
# print(y)

X_train, X_test, y_train, y_test, clf, graph = fitting(X, y, 'gini', 'best', 
                                                       mdepth=3, 
                                                       clweight=None,
                                                       minleaf=1000)

# # Plot the tree graph
# graph

# # Save tree graph to a PDF
# #graph.render('Decision_Tree_all_vars_gini')

*************** Tree Summary ***************
Classes:  ['Apple' 'Grape' 'Lemon']
Tree Depth:  0
No. of leaves:  1
No. of features:  1
--------------------------------------------------------

*************** Evaluation on Test Data ***************
Accuracy Score:  0.0
              precision    recall  f1-score   support

       Apple       0.00      0.00      0.00       0.0
       Grape       0.00      0.00      0.00       2.0

    accuracy                           0.00       2.0
   macro avg       0.00      0.00      0.00       2.0
weighted avg       0.00      0.00      0.00       2.0

--------------------------------------------------------

*************** Evaluation on Training Data ***************
Accuracy Score:  0.5
              precision    recall  f1-score   support

       Apple       0.50      1.00      0.67         4
       Grape       0.00      0.00      0.00         2
       Lemon       0.00      0.00      0.00         2

    accuracy                           0.50         8
   macro avg       0.17      0.33      0.22         8
weighted avg       0.25      0.50      0.33         8

--------------------------------------------------------

C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Umair Lakhani\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))